<html>
<body bgcolor="#d4d0c8">
<table border="0" cellpadding="2" width="100%">
<tr><td><font size="2"><b>MENU</b></font></td></tr>
<tr><td>
  <table border="0" cellpadding="1" width="100%">
  <tr><td><font size="2">ACCOUNTS</font></td></tr>
  <tr><td>
    <table border="0" cellpadding="0">
    <tr><td><a href="/fr/work/inq" target="work">{{ labels.nav_inquiry }}</a></td></tr>
    <tr><td><a href="/fr/work/xfer" target="work">Transfer Funds</a></td></tr>
    </table>
  </td></tr>
  </table>
</td></tr>
</table>
</body>
</html>
