<html>
<body bgcolor="#ffffff">
<form method="post" action="/fr/work/xfer/review" name="xfer">
<table border="0" cellpadding="3">
<tr><td colspan="2"><font size="2"><b>TRANSFER FUNDS</b></font></td></tr>
<tr><td>From Share:</td><td><select name="from_share"><option>001 - Regular Savings</option></select></td></tr>
<tr><td>To Share:</td><td><select name="to_share"><option>002 - Checking</option></select></td></tr>
<tr><td>Amount:</td><td><input type="text" name="amount"></td></tr>
<tr><td>Memo:</td><td><input type="text" name="memo" maxlength="30"></td></tr>
<tr><td colspan="2"><input type="submit" value="Review"></td></tr>
</table>
</form>
</body>
</html>
